
@media screen and (max-width: 768px) {
    .navbar-nav.al {
        margin: 0;
       
    }
    .d-flex.ms-auto {
        position: absolute;
        top: 12px; 
        right: 10px; 
    }

    .logo-img {
        margin-left: 15px;
    }
    .navbar-nav.ac {
        display: flex; 
        flex-direction: row; 
        justify-content: center; 
        align-items: center; 
        padding: 0; 
        margin: 0 auto; 
    }
    
}
@media (max-width: 768px) {
    .navbar .order-1 {
        order: 1;
    }
    .navbar .order-2 {
        order: 3;
    }
    .navbar .order-3 {
        order: 2;
    }
}

.logo-img{
    height: 31px;
    width: 110px;
}

.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
}


@media only screen and (min-width: 768px) {
    .navbar {
     height: 80px !important; 
   } 
}

@media (max-width: 768px) {
    .icons img {
        width: 16px;
        height: 16px;
    }
}



/*cart */
.cart-logo{
    height: 31px;
    width: 50px;
       border: none; 
    outline: none;
}
.cart-logo:focus {
    outline: none; 
}
.cart-item{
    height: 90px; 
    width: 150px;
    border-radius: 5px;
}

tr td {
    display: table-cell;
    vertical-align: middle; 
    text-align: center; 
    height:85px;
    padding: 0; 
}

tr td:nth-child(1) ,tr td:nth-child(2),tr td:nth-child(8) {
    width: 10px; 
}
tr td:nth-child(3) {
    width: 240px; 
}

tr td:nth-child(4),tr td:nth-child(7){
    width: 150px; 
}

tr td:nth-child(5),tr td:nth-child(6){
    width: 120px; 
}



.cart-header {
    align-items: flex-start;
}

.item-header {
    width: 42%;
    text-align: center;
   
}
.item-header > b{
    margin-left: 135px;
}

.unit-price-header {
    width: 14.5%;
    text-align: center;
}

.size-header {
    width: 11.4%; 
    text-align: left;
}
.size-header > b{  
    margin-left: 10px;
}

.quantity-header {
    width: 11.3%;
}

.total-header { 
    width: 14.3%;
    text-align: center ; 
}

 

